{% extends "layout.html.twig" %}

{% block title 'Admin category' %}

{% block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin_list.css')}}">
{% endblock %}

{% block content %}
   
    <section class="admin">
        <nav>
            <ul>
                <li><a href="{{path('admin_categories')}}">Catégories</a></li>
                <li><a href="{{path('admin_articles')}}">Articles</a></li>
            </ul>
        </nav>
            
        <h2>Les catégories</h2>
        <p><a href="{{ path('admin_category_edit') }}">Ajouter une catégorie</a></p>

         <table>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th width="200px">Actions</th>
            </tr>

            {% for category in categories %}
            <tr>

                <td>{{category.idcategory}}</td>
                <td>{{category.categoryname}}</td>

                <td>
                <a href="{{ path('admin_category_edit', { id: category.idcategory }) }}" >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>

                 <a href="#" class="pop" data-id="{{category.idcategory }}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>

             <!-- Aside pour la modale de validation de suppression -->
                <aside id="modal{{ category.idcategory }}" class="modal">  
                    <span>Êtes-vous sûres de vouloir supprimer  la catégorie {{category.idcategory}} ? </span>  
                    <a href="{{ path('admin_category_delete', { id: category.idcategory }) }}" class="btn remove">Supprimer définitivement</a>  
                    <a class="btn cancel closeModal">Annuler</a>  
                </aside> 

        {% endfor %}
        </table>
    </section>
{% endblock %}

{% block javascripts %}      
    {{ parent() }}
    <script src="{{asset('js/modal.js')}}"> </script>  
{% endblock %}
