{% extends "layout.html.twig" %}

{% block title 'Admin users' %}

{% block content %}
    
    <h2>Modifications des infos utilisateurs</h2>
    
    <form method="post">
       
            <label>Nom</label>
            <input type="text" name="lastname" value="{{ user.lastname }}" class="form-control">
           
            <label class="control-label">Prénom</label>
            <input type="text" name="firstname" value="{{ user.firstname }}" class="form-control">
            
            <label class="control-label">Email</label>
            <input type="text" name="email" value="{{ user.email }}" class="form-control">
            
            <label class="control-label">Adresse</label>
            <textarea name="address" class="form-control">{{ user.address }}</textarea>
            
            <label class="control-label">Code postal</label>
            <input type="text" name="zipcode" value="{{ user.zipcode }}" class="form-control">
            
            <label class="control-label">Ville</label>
            <input type="text" name="city" value="{{ user.city }}" class="form-control">
            
            <label class="control-label">Téléphone</label>
            <input type="text" name="phone" value="{{ user.phone }}" class="form-control">
            
            <label class="control-label">Statut</label>
            <select name="status" id="status">
                <option value="member">Utilisateur</option>              
                <option value="admin">Admin</option>
                <option value="collaborator">Collaborateur</option>
            </select>
      
       
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('admin_users') }}" class="btn btn-default">Annuler</a>
    </form>

{% endblock %}
