{% extends "layout.html.twig" %}
{% block title 'Admin gestion utilisateurs' %}

{% block content %}
    
    <style> 
        
        span{
            color: white;
            padding-bottom: 2rem;
            text-align: center;
        }
        
        .fa{
            
            font-size: 2.5rem;
        }
        
        .fa-pencil-square-o{
            
            margin-right: 1.5rem;
        }
        #modal{ 
            font-weight: 700; 
            position: absolute; 
            left: 50%; 
            width: 25%; 
            height:15%; 
            background-color: rgba(46, 45, 47, 0.3); 
            padding: 1rem;
            /* pour l'animation */
            display: none;
            
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            
            -webkit-transform: translateX(-50%); 
            transform: translateX(-50%); 
             
             
        } 
         
        #modal article{
           
            width: 30rem; 
            background-color: white; 
            padding: 3rem; 
            margin: 5rem auto; 
        }
        
    </style> 
    
    <h2>Liste des utilisateurs</h2>
    <p><a href="{{ path('admin_user_ajout') }}">Ajouter un utilisateur</a></p>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nom</th>                     
            <th>Prénom</th>
            <th>Email</th>
            <th>Adresse</th>          
            <th>Code postal</th>          
            <th>Ville</th>          
            <th>Téléphone</th>
            <th>Statut</th>                  
            <th width="200px">Actions</th>
        </tr>
        
        {% for user in users %}
            
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.zipcode }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.status }}</td>                


            <td>
                
                
                <a href="{{ path('admin_user_edit', { id: user.id }) }}" >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                   
                <a href="#" class="pop" data-id="{{ user.id }}"> 
                   <i class="fa fa-trash" aria-hidden="true"></i> 
                </a>
                    
            </td>
        </tr>
        
        
        
        {% endfor %}
        <article id="modal"> 
            <span>Êtes-vous sûrs de vouloir supprimer l'utilisateur ? </span> 
            <a href="{#{ path('admin_user_delete', { id: user.id }) }#}" class="btn btn-danger remove">Supprimer définitivement</a> 
            <a  id="closeModal" class="btn btn-primary">Annuler</a> 
        </article> 
    </table>
        
        
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        
        
         
        $(document).ready(function(){ 
            
            
             // Ouvrir la modal
            $('.pop').click(function(){
                var id = $(this).data('id');
                console.log(id);
                $('#modal').show();
                //$('a.remove').click(function(){
                    
                });
            });

            // Fermer la modal
            $('#closeModal').click(function(){
                $('article').fadeOut();

            });

 
        });  
        
    </script> 
{% endblock %}



         
     

