{% extends "layout.html.twig" %}

{% block content %}

      <link rel="stylesheet" href="{{ asset('css/article.css') }}" type="text/css">

    {% autoescape %}
    <section class="articleheader" style="background-image: url('{{ asset('img/' ~ article.picture) }}" alt="photo de l'article {{article.title|raw}}')">

        <section  class="containerarticle">
            <blockquote>{{ article.quote|raw}}</blockquote>
        </section>

    </section>

    <h2 class="articletitle">{{ article.title|raw }}</h2>
    <div class="trait"></div>

    <section  class="containerarticle">

        <section class="sectionarticle">    
        
        <div class="date">
			<i class="fa fa-calendar" aria-hidden="true"></i> {{ article.date}}
	    </div>
            <p>{{ article.content1|raw }}</p>
        </section>

        <section class="articleillu" style="background-image: url('{{ asset('img/' ~ article.picture) }}" alt="photo de l'article {{article.title|raw}}')"></section>


        <section class="sectionarticle">
            <p>{{ article.content2|raw }}</p>
        </section>

    </section>
    {% endautoescape %}
        
{% endblock %}
    