  {% extends "layout.html.twig" %}


{% block content %}

      <link rel="stylesheet" href="{{ asset('css/article_list.css') }}" type="text/css">





<h2 class="actutitle">L'actu</h2>


    <section id="mainactu"> 
        
          <section  class="containeractu">

            <section class="sectionactu">

                {% for article in articles %}
                    <div class="actuimg">
                        <img class="actuimg" src="{{ asset('img/' ~ article.picture) }}" alt="photo de l'article {{article.title}}" />
                    </div>

                    <div class="actuarticle">
                    <h3>{{ article.title }}</h3>
                    <aside><small> by {{ article.categoryName }}</small></aside>

                        <p class="descriptionourproject">{{ article.shortContent }}</p>

                    </div>
            {#<a target="_blank" href="{{path('articles')}}">
                 <p>{{ article.content }}</p>
            </a>#}
            
            </section>

        </section>
        
    </section>

    <section id="mainactu"> 
        
          <section  class="containeractu">

            <section class="sectionactu">

                        {% if not loop.last %}
                        
                    {%endif%}
                {% endfor %}

            </section>

        </section>
        
    </section>

{% endblock %}
    
