{% extends "layout.html.twig" %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('/web/css/index.css')}}">
{% endblock %}

{% block content %}

    <section id="mainindex">

    {#section header#}

    <section id="sectionhome1">
        <section class="contenuindex">
            <article>
                <h2>Comme si vous les aviez cueillies</h2>
                <div class="traitprofile"></div>
                <p>Les Fleurs d'Ici, première marque de fleurs coupées qui contribue à la protection de la nature et des emplois en France. Des fleurs locales et de saison, en circruit court. </p>
                {#<form method="post" id="choix">
                    <select name="frequency" >
                        <option value="null">FREQUENCE</option>
                        <option value="once_a_month">Une fois par mois</option>
                        <option value="twice_a_month">Deux fois par mois</option>
                    </select>
                    <select name="size">
                        <option value="null">TAILLE DU BOUQUET</option>
                        <option value="moyen">Moyen</option>
                        <option value="gros">Gros</option>
                    </select>
                    <input type="submit" value="Valider">
                </form>#}
                 <div class="btn_plus"><a href="{{path('abonnement')}}" id="sabonner"><img src="{{ asset('/web/img/btn_plus.png') }}" alt="bouton s'abonner"></a></div>
                           
            </article>

            <!--img src="{{ asset('/web/img/header.png') }}" alt="bouquet"-->
        </section>
    </section>

    {#Section cheminement Pictos#}
    <section id="sectionhome4">
                <section class="contenuindex">
                <h2>Des fleurs en circuit court</h2>
                <div class="traitprofile"></div>
                <article id="refractaire">
                    <figure>
                        <img src="/web/img/Picto_2.svg" alt="">
                        <figcaption>Vous vous abonnez en ligne.</figcaption>
                    </figure>
                </article>

                <article>
                    <figure>
                        <img src="/web/img/Picto_4.svg" alt="">
                        <figcaption>Nous sélectionnons la variété avec le producteur selon la saison.</figcaption>
                    </figure>
                </article>

                <article>
                    <figure>
                        <img src="/web/img/Picto_3.svg" alt="">
                        <figcaption>Les fleurs sont cueillies la veille de la livraison.</figcaption>
                    </figure>
                </article>

                <article>
                    <figure>
                        <img src="/web/img/Picto_1.svg" alt="">
                        <figcaption>Les fleurs sont livrées chez vous dans la journée.</figcaption>
                    </figure>
                </article>

                <p><a class="box" href="{{path('project')}}#mainproject2"> Pourquoi des fleurs en circuit court ? </a></p>
            </section>
        </section>

{#
    Section notre projet
        <section id="sectionhome2">
            <section class="contenuindex">
                <h2>Le projet</h2>
                <div class="traitprofile"></div>
                <p>Fleurs d'ici est la première marque de fleurs coupées qui permet de contribuer à la protection de la nature et des emplois en France.
                Des fleurs locales et de saison, comme si vous veniez de les cueillir au jardin.</p>

                <article>
                    <img src="{{ asset('img/photo1.png') }}" alt="logo">
                    <h3>Des fleurs authentiques</h3>
                    <p>Roses parfumées, iris, pivoines, lilas : des variétés sélectionnées dans un esprit jardin</p>
                </article>

                <article>
                    <img src="{{ asset('img/photo2.png') }}" alt="logo">
                    <h3>Des fleurs locales</h3>
                    <p>Des fleurs en circuit-court, produites artisanalement, qui préservent l’emploi et l’environnement</p>
                </article>

                <article>
                    <img src="{{ asset('img/photo3.png') }}" alt="logo">
                    <h3>Des fleurs fraîches</h3>
                    <p> Nos producteurs cueillent les plus belles fleurs de saison, à maturité, 24h avant d'être chez vous</p>
                </article>

                <p><a class="box" href="{{path('project')}}">En savoir plus sur notre projet</a></p>
            </section>
        </section>#}


    <section id="sectionhome2"> 
        
        <section class="sectionourprojectl">

                <p class="descriptionourproject">Les Fleurs d'Ici c'est la première marque de fleurs coupées qui permet de contribuer à la protection de la nature et des emplois en France.
                Des fleurs locales et de saison, comme si vous veniez de les cueillir au jardin.</p>
            
        </section>

    </section>




    {# Section producteurs #}
        {#<section id="sectionhome3">
            <section class="contenuindex">
                <article>
                    <h2>Rencontrez nos producteurs</h2>
                    <div class="traitprofile"></div>
                    <p id="line" class="infos">Chez Fleurs d'Ici on a souhaité vous proposer une approche, qui remet la saisonnalité et la proximité au coeur de la démarche.
                    En limitant les intermédiaires, Fleurs d'Ici permet aux petits producteurs horticoles de pratiquer des prix plus justes, et aux consommateurs d'avoir des produits de meilleure qualité, puisque les fleurs ne seront cueillies que 24 heures avant d'arriver chez vous, contre environ 10 jours en moyenne pour les fleurs importées.</p>
                    <p><a class="box" href="{{path('producer')}}">Tous nos producteurs</a></p>
                </article>
            </section>
        </section>#}


        <section id="sectionhome5">
            <section class="contenuindex">
                <div>
                    <article>
                        <img src="/web/img/photo4.png" alt="">
                    </article>
                    <article>
                            <h2>A la une</h2>
                            <div class="trait"></div>
                            <h3>Une journée avec Anthony Charpal sur son exploitation de fleurs à Feucherolles</h3>
                            <p class="infos">Sur le calendrier, le printemps est arrivé depuis plusieurs jours. Dans nos jardins, le temps est à nouveau à la douceur. Profitons des conseils d'Anthony, notre horticulteur...</p>
                            <p><a id="p1" class="box" href="">Lire l'article</a></p>
                    </article>
                </div>
            </section>
        </section>


        <section id="sectionhome6">
            <section class="contenuindex">
                <h2>On parle des Fleurs d'Ici</h2>
                <div class="traitprofile"></div>
                <article>
                    <a href="https://goo.gl/omBrPX" target="blank"><img src="/web/img/grazia.jpg" alt="icone presse Grazia"></a>

                    <a href="https://goo.gl/sH4jZB" target="blank"><img src="/web/img/huffpost.png" alt="icone presse huffpost"></a>

                    <a href="https://goo.gl/y2Ajm8" target="blank"><img src="/web/img/logo we demain.png" alt="icone presse we demain"></a>

                    <a href="https://goo.gl/iB3uvc" target="blank"><img src="/web/img/rtl.png" alt="icone presse rtl"></a>

                    <a href="https://goo.gl/oT1M3o" target="blank"><img src="/web/img/social lab.jpg" alt="icone presse social lab"></a>

                    <a href="https://goo.gl/N5yeJf" target="blank"><img src="/web/img/Logo-generique-ELLE.png" alt="icone presse Elle"></a>
                    
                    <a href="https://goo.gl/yKkLfX" target="blank"><img src="/web/img/goodplanet.png" alt="icone presse fondation good planet"></a>
                    
                    <a href="https://goo.gl/AZqxH4" target="blank"><img src="/web/img/france_interr.png" alt="icone presse emission france inter" id="france_inter"></a>
                    {# PAS DE LIENS ACTIFS#}
                    {#<a href="https://goo.gl/yKkLfX" target="blank"><img src="/web/img/le_monde.png" alt="icone presse le monde"></a>
                    
                    <a href="https://goo.gl/N5yeJf" target="blank"><img src="/web/img/G&R.png" alt="icone presse Gustave et Rosalie"></a>#}
                    
                </article>
            </section>
        </section>
    </section>
    <section id="sectionhome7">        
        <section class="contenuindex" >
            <h2>Suivez-nous !</h2>
            <div class="traitprofile"></div>
            <div id="instafeed"><iframe src="https://snapwidget.com/embed/408933" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe></div>
            <article>
               <a class="twitter-timeline" data-lang="fr" data-width="700" data-height="400" data-dnt="true" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/fleursdici">Tweets by fleursdici</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </article>
            <article>
               <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flesfleursdici%2F&tabs=timeline&width=700&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="700" height="400" style="border:none; overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </article>
               FACEBOOK 
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flesfleursdici%2F&tabs=timeline&width=300&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="310" height="100%" style="border:none; overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </article>   
            {#<article>
                 INSTAGRAM 
                <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-0" src="https://www.instagram.com/p/BWdTnzaD-gr/embed/captioned/?cr=1&amp;v=7&amp;wp=500#%7B%22ci%22%3A0%2C%22os%22%3A696.195%7D" allowtransparency="true" frameborder="0" height="500px" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="background: rgb(255, 255, 255); border: 1px solid rgb(219, 219, 219); margin: 1px 1px 12px; max-width: 310px; height: 500px ;width: calc(100% - 2px); border-radius: 4px; box-shadow: none; display: inline-block; padding: 0px;"></iframe>
            </article> #}
        </section>
    </section>
</section>

{% endblock %}

{% block javascript %}
{{ parent() }}
<link rel="javascript" href="{{asset('js/scriptindex.js')}}">

<script src="https://snapwidget.com/js/snapwidget.js"></script>

{{ parent() }}
<link rel="javascript" href="{{asset('js/scriptlayout.js')}}">

{% endblock %}

