<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title '' %} Fleurs d'ici</title>

{% block stylesheet %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css">

{% endblock %}

</head>

<body>
    <header>
        {# Afficher la barre de navigation uniquement pour les admin #}
        {% if user_manager.admin %}
        <nav>
            <ul>
                <li><a href="{{path('admin_users')}}">Utilisateurs</a></li>

                <li><a href="{{path('admin_products')}}">Produits</a></li>

                <li><a href="{{path('admin_subscription')}}">Abonnements</a></li>

                <li><a href="{{path('admin_shipping')}}">Livraison</a></li>

            </ul>

        </nav>

        {% endif %}

        <article>

            <a href="{{path('home')}}" id="lg"><img src="{{ asset('img/logo_fleurdici.png') }}" alt="logo"></a>

        </article>
        {# Barre de navigation générale #}
        <nav>
            <ul>
                <li><a href="{{path('ourproject')}}">Le projet</a></li>

                <li><a href="{{path('producer')}}">Producteurs associés</a></li>

                <li><a href="{{path('abonnement')}}">Je m'abonne</a></li>

                <li><a href="{{path('contact')}}">Contact</a></li>

            {# Si l'utilisateur est connecté #}
            {% if user_manager.userConnected %}
                <li><a href="{{path('profil')}}">Mon compte</a></li>

                <li><a href="{{path('logout')}}">Se déconnecter</a></li>

            {# Si non #}
            {% else %}
                <li><a href="{{path('login')}}">Se connecter</a></li>

                <li><a href="{{path('register')}}">S'inscrire</a></li>

            {% endif %}

            </ul>
        </nav>
    </header>
    <main>

     {# Boucle qui permet de mettre en forme les messages générés lorsqu'on

        clique su un bouton #}

        {% for label, flashes in global.session.flashbag.all %}

                {% for flash in flashes %}

                    {% if label == 'error' %}

                        {% set label = 'danger' %}

                    {% endif %}

                    <div class="alert alert-{{ label }}">{{ flash|raw }}</div>

                {% endfor %}

            {% endfor %}



        {# Affichage du contenu de chaque page #}

        {% block content %}{% endblock %}



    </main>





    <footer>

        {# INVERSER LES BALISES ARTICLE ET SECTIONS #} 

            <section id="section1">

                <h2>Les fleurs d'ici</h2>

                <p><a href="{{path('ourproject')}}">Notre projet</a></p>

                <p><a href="{{path('producer')}}">Les producteurs associés</a></p>

                <p><a href="{{path('contact')}}#place">Où nous trouver</a></p>

                <p><a href="{{path('abonnement')}}">Commander</a></p>

                <p><a href="#">Offres professionnels</a></p>

            </section>

            <section id="section2">

                <h2>A propos</h2>

                <p><a href="{{path('contact')}}#profiles">Qui sommes-nous</a></p>

                <p><a href="{{path('contact')}}#formcontact">Contactez-nous</a></p>

                <p><a href="">FAQ</a></p>

                <p><a href="{{path('contact')}}#place">Plan du site</a></p>

                <p><a href="">Mentions légales</a></p>

            </section>

            <section id="section3">

                <p><a href="">Vous êtes producteur, vous voulez nous rejoindre</a></p>

                <p><a href="">Vous êtes commerçant, vous voulez devenir point relais</a></p>

                <p><a href="">Notre offre pour les professionnels</a></p>

            </section>



        {# Section inférieure du footer #}

        <aside>



            <article id="article1">

                <i class="fa fa-paypal  fa-2x" aria-hidden="true"></i>

                <i class="fa fa-cc-visa  fa-2x" aria-hidden="true"></i>

            </article>



            <article id="article2">

                <h2 id="icones3">Suivez-nous</h2>

                <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>

                <i class="fa fa-instagram  fa-2x" aria-hidden="true"></i>

                <i class="fa fa-twitter  fa-2x" aria-hidden="true"></i>

                <i class="fa fa-youtube  fa-2x" aria-hidden="true"></i>

                <i class="fa fa-spotify  fa-2x" aria-hidden="true"></i>

            </article>

            <article id="article3">
                <h2 id="icones2">Newsletter</h2>
                <form class="form-inline">
                    <label class="sr-only" for="inlineFormInputGroup">Votre email</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">@</div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Entrez votre email">
                    </div>
                    <button type="submit" class="btn btn-primary" href="#">OK</button>
                </form>

            </article>
        </aside>
    </footer>

{% block javascripts %}
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"

    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
{% endblock %}
</body>
</html>