{% extends "layout.html.twig" %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('css/panier.css') }}" type="text/css">


    <section id="panier">

            <section id="mainpanier">

                    <section class="contenupanier" >

                            <section id="sectionpanier1">
                                <h2 class="paniertitle"> {%if timegift == '1' %}<i class="fa fa-gift" aria-hidden="true"></i>{%else%}<i class="fa fa-shopping-basket" aria-hidden="true"></i>{%endif%}</h2>
                                
                                {% if product is defined %}
                                    {%if timegift is defined %}
                                    {% else %}
                                    <p class="paniermessage">Vous voilà à quelques minutes de recevoir chaque mois un bouquet de fleurs de saison, locales et fraichement coupées pour vous ! </p>
                                    {%endif %}
                                    <section id="photoproduitpanier">

                                        <h3 class="produitpanier"><span>{{ product.productName }}</span></h3>

                                        <img src="{{ asset('img/' ~ product.photo) }}" alt="photo du bouquet {{product.productName}}">

                                    </section>

                                    <section id="prixpanier">
                                        <p><b>Prix : {{ product.price }}€</b></p>
                                        Frais de port : {{shipping.shippingfees}} € pour une livraison {%if shipping.mode == 'point_relais'%}en point relais{% elseif shipping.mode == 'domicile'%}à domicile{%endif%}
                                        <p>Description : {{ product.description }}</p>
                                    </section>

                                    <section id="totalpanier">
                                        <div><h4>Total de votre commande :</h4></div>
                                        <div>{{product.price + shipping.shippingfees}}€</div>
                                    </section>

                                    <section id="validationpanier">
                                   {% if user_manager.isUserConnected()%}<a href="{{path('paiement_abonnement', {productId: product.idproduct, shippingId: shipping.idshipping})}}">Valider</a>{%else%}<a href="{{path('login')}}">Connectez-vous d'abord</a>{% endif %}
                                    </section>
                                {%else%}
                                    <p class="paniermessage">Vous n'avez aucune commande en cours !</p>
                                    <a href="{{path ('abonnement')}}">Retournez sur la page d'abonnement </a>
                                {%endif%}
                    </section>
                </section>
            </section>
{% endblock %}

{% block stylesheet %}
    {{parent()}}

 {% endblock %}

{% block javascript %}
    {{parent()}}
    <link rel="javascript" href="{{ asset('js/jquery.js') }}" type="text/js">
 {% endblock %}