{% extends "layout.html.twig" %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('css/panier.css') }}" type="text/css">


    <section id="panier">

            <section id="mainpanier">

                    <section class="contenupanier" >

                            <section id="sectionpanier1">
                                <h2 class="paniertitle"> {%if duration is not null %}<i class="fa fa-gift" aria-hidden="true"></i>{%else%}<i class="fa fa-shopping-basket" aria-hidden="true"></i>{%endif%}</h2>
                                {% if product is defined %}
                                    {%if duration is not null %}          
                                    <p class="paniermessage">Offrez une carte cadeau imprimable, valable un an à partir de sa date d'activation et faites plaisir à un(e) ami(e) ! </p>
                                    {% else %}
                                    <p class="paniermessage">Bravo et merci, vous avez choisi de fleurir votre maison avec des fleurs locales et de saison. Il ne vous reste plus qu'à valider votre commande.</p>
                                    {%endif %}
                                    <section id="photoproduitpanier">

                                        <h3 class="produitpanier"><span>{{ product.productName }}</span></h3>

                                        <img src="{{ asset('/web/img/' ~ product.photo) }}" alt="photo du bouquet {{product.productName}}">

                                    </section>

                                    <section id="prixpanier">
                                        <p><b>Prix : {%if duration is not null %}{{ product.price * duration}}{%else%}{{ product.price}}{%endif%}€</b>{%if duration is not null%} pour une durée de {{duration}} mois.{%endif%}</p>
                                        <b>Frais de port :</b> {{shipping.shippingfees}} € {%if duration is not null %} par mois{%endif%} pour une livraison {%if shipping.mode == 'point relais'%}en point fleurs{% elseif shipping.mode == 'domicile'%}à domicile{%endif%}.
                                        <p><b>Description :</b> {{ product.description }}</p>
                                        
                                        
                                        {% if duration is null %}
                                            {% if pointrelais is null %}
                                                {% if user_manager.isUserConnected %}
                                                    <p><b>Vérification de votre adresse :</b></p>
                                                    <p>{{user_manager.firstname}} {{user_manager.firstname}}, {{user_manager.address}}, {{user_manager.zipcode}} {{user_manager.city}}</p>
                                                {% else %}
                                                    <p<a href="{{path('login')}}">Connectez-vous pour vérifier votre adresse de livraison.</a></p>
                                                {% endif %}
                                            {% else %}
                                                <p><b>Le point relais que vous avez choisi est :</b></p>
                                                <p>{{pointrelais.namepul}} - {{pointrelais.addresspul}}, {{pointrelais.zipcodepul}} {{pointrelais.citypul}}</p>
                                            {% endif %}
                                        {%else%}
                                            <p><b>Vérification de votre email :</b>  {{user_manager.email}} <br>
                                            Vous recevrez la carte cadeau par email à la fin de votre achat.</p>
                                        {%endif%}
                                        
                                    </section>

                                    <section id="totalpanier">
                                        <div><h4>Total de votre commande :</h4></div>
                                        <div>{%if duration is not null %}{{(product.price + shipping.shippingfees) *duration}}{%else%}{{(product.price + shipping.shippingfees)}}{%endif%}€</div>
                                    </section>
                                    
                                    
                                    <section id="validationpanier">
                                   {% if user_manager.isUserConnected()%}
                                       
                                       <a href="
                                          {%if duration is not null %}
                                            {{path('paiement_charge')}}
                                          {% elseif abonnement is not null%}
                                              #
                                          {%else%}
                                              {{path('paiement_abonnement')}}
                                          {%endif%}">Valider
                                       </a> 
                                          
                                    {%else%}<a href="{{path('login')}}">Connectez-vous d'abord</a>{% endif %}
                                    
                                    </section>
                                {%else%}
                                    <p class="paniermessage" style="margin-bottom: 0">Votre panier de fleurs est vide !</p>
                                    <p style='text-align:center; font-size: 2rem;'>
                                    <a href="{{path ('abonnement')}}" style='text-align:center;'>Remplissez-le !</a>
                                    </p>
                                {%endif%}
                    </section>
                </section>
            </section>
{% endblock %}

{% block stylesheet %}
    {{parent()}}

 {% endblock %}

{% block javascript %}
    {{parent()}}
    <link rel="javascript" href="{{ asset('js/jquery.js') }}" type="text/js">
 {% endblock %}