
{% extends "layout.html.twig" %}

{% block content %} 

<link rel="stylesheet" href="{{ asset('css/producer2.css') }}" type="text/css"> 
<style>
    #map{
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
     
</style>

    <section id="mainproducer1"> 

            <section class="contenuproducer">

                <section id="sectionproducer1">
                        {#<img src="" alt="">#}
                </section>


                <section id="sectionproducer2">

                    <article id="articleproducer1"> 
                    
                        <h2 class="h2producer">Ensemble relançons la filière horticole française</h2>
                        <div class="trait"></div>

                        <p class="descriptionproducer">Aujourd’hui, presque 9 fleurs sur 10 vendues en France viennent de l’étranger, de Hollande bien sûr, mais de plus en plus, du Kenya, d’Equateur ou de Colombie, où elles sont cultivées dans des conditions sociales et environnementales à faire peur, puis transportées en avion.</p> 
                        
                        <p class="descriptionproducer">Chez Fleurs d'Ici on a souhaité vous proposer une autre approche, qui remet la saisonnalité et la proximité au coeur de la démarche.En limitant les intermédiaires, Fleurs d'Ici permet aux petits producteurs horticoles de pratiquer des prix plus justes, et aux consommateurs d'avoir des produits de meilleure qualité, puisque les fleurs ne seront cueillies que 24 heures avant d'arriver chez vous, contre environ 10 jours en moyenne pour les fleurs importées.</p> 
                
                    </article>

                </section> 

            </section>                                                                
    
     </section>

    <section id="mainproducer2"> 
    
            <section class="contenuproducer">

                <section id="sectionproducer3">
            
                    <article id="artcileproducer2">

                        <h2>Nos producteurs partenaires</h3> 
                        <div class="trait"></div>
                        
                        <h4>L'exploitation</h4>
                        
                        
                            <p class="descriptionproducer">Rémi Moyer-Peschoux, 32 ans, a fait le choix courageux de reprendre l'exploitation familiale, fondée en 1924 par ses arrières-grands parents, André et Marie Peschoux. Il oeuvre à Etampes dans l'Essonne depuis plusieurs années et nous sommes ravis de travailler avec lui..</p>      
                        
                        <h4>Le savoir-faire</h4> 
                        

                            <p class="descriptionproducer">Rémi cultive de superbes pivoines de plein champ, mais aussi du muguet ou des jacinthes dont il suit chaque étape de production.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur deserunt reprehenderit delectus non odit nulla. Assumenda, a, minima excepturi saepe explicabo aperiam fugit quas facilis vitae recusandae ipsa, nihil harum.</p>

                    </article> 

                </section>
                
                <section id="sectionproducer4">
                        <div>
                            <h3 class="producername">Rémi</h3>
                        </div>
                </section>
                
            </section>

    </section> 
   
    
    
  
    <section id="mainproducer3"> 

            <section class="contenuproducer">

                    <section id="sectionproducer5">
                        <h2>Trouvez les !</h2> 
                        <div class="trait"></div>
                        <i class="fa fa-map-o" aria-hidden="true"></i>
                    </section>

                    <section id="sectionproducer6">
                       {# <div id="map"> {{include 'map.html'}}</div>#}
                        <iframe id="iframecontact"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42364.132577631564!2d2.1174041153933074!3d48.422784647558416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5c967ed49d62d%3A0xf2c3b7d5458e55fe!2s91150+%C3%89tampes!5e0!3m2!1sfr!2sfr!4v1498125202796"allowfullscreen></iframe>
                    </section>
            </section>

    </section> 
                    

{% endblock %} 


{% block stylesheet %} 
 
    {{parent()}} 

 {% endblock %}  
 
{% block javascript %} 
 
    {{parent()}} 
 
    <link rel="javascript" href="{{ asset('js/scriptproducer.js') }}" type="text/js">    

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxNivNinZmULVqt8AWUBDpQky3qGvp_0A&callback=initMap"
    async defer></script>

    
 
 {% endblock %}