
{% extends 'layout.html.twig' %}
{% set active = 'accueil' %}


{% block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/modal.css') }}" type="text/css">
{% endblock %}

{% block content %}

    <section id="profil">
        
        <article id="welcome">
             
            <div>
                <h2>Bienvenue {{ user_manager.username }}</h2>      
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Reprehenderit saepe autem, qui suscipit ipsum delectus nemo aliquid 
                magnam dicta omnis doloremque, fuga doloribus perferendis 
                repudiandae nihil nesciunt. Illum, ipsum, expedita.
                </p>
            </div>
        </article>
        
        <fieldset>
            <legend>Vos infos</legend>
            <ul>
                <li><b>Nom : </b>{{user.lastname}}</li>
                <li><b>Prénom :</b> {{user.firstname}} </li>
                <li><b>Email :</b> {{user.email}}</li>
                <li><b>Adresse :</b> {{user.address}} <br>
                {{user.zipcode}} {{user.city}}</li>
                <li><b>N° Téléphone :</b> {{user.phone}}</li>
            </ul>
            <a href="{{path('profil_edition', { id: user.id }) }}" class="submit">Modifier</a> 
        </fieldset>

        <fieldset>
            <legend>Votre abonnement</legend>
            
            {% if profil == false %}
                <p>Vous n'avez pas encore d'abonnement.</p>
                
                <a href="{{path('abonnement')}}" class="submit pop">Abonnez-vous dès maintenant !</a>
            {% else %}
                <ul>
                    <li><b>Votre abonnement :</b> {{profil.description}}</li>           
                    <li><b>Prix de votre box :</b> {{profil.price}} €</li>
                    <li><b>Votre mode de livraison :</b> {% if profil.mode == 'point_relais' %}point relais{%else%}{{profil.mode}}{%endif%}</li>
                    <li><b>Frais de livraison :</b> {{profil.shipping_fees}} €</li>

                    <li><b>Montant prélevé le 10 de chaque mois :</b></li>
                    <li>Vous êtes abonné depuis le {{profil.start_date}}</li>
                </ul>
                
                <a href="#" class="submit pop" value="{% if profil.soft_delete
                 == '1' %}suspension{% elseif profil.soft_delete == '0' %}
                reprise{%endif%}">{% if profil.soft_delete == '1' %}Suspendre 
                mon abonnement{% elseif profil.soft_delete == '0' %}Reprendre 
                mon abonnement{%endif%}</a>

                <a href="{{path('abonnement_edition', { id: user.id })}}" class="submit">Modifier</a> 
                    
                {# Aside pour l'affichage de la modal #}
                <aside id="modal" class="modal">  
                    <span>Êtes-vous sûr(e)s de vouloir suspendre votre abonnement ?</span>  
                    <a href="{{ path('abonnement_changement', { id: user.id }) }}" class
                    ="btn remove">{% if profil.soft_delete == '1' %}Suspendre{% elseif profil.soft_delete == '0' %}Reprendre{%endif%}</a><a class="btn cancel closeModal">Annuler</a>  
                </aside>
            {% endif %}
        </fieldset>
        
        
    </section> 

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    
    {# script spécifique à cette modal (provisoire) #}
    <script>
        $(document).ready(function(){ 

        // Ouvrir la modal
        $('.pop').click(function(){
           var id = $(this).data('id');
           console.log(id);
           $('#modal').fadeIn();

        });

        // Fermer la modal
        $('.closeModal').click(function(){
           $('aside').fadeOut();

        });

    });  
    
    </script>

{% endblock %}
