
{% extends 'layout.html.twig' %}
{% set active = 'accueil' %}


{% block content %}
    
    <h2>Bienvenue {{ user_manager.username }}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Reprehenderit saepe autem, qui suscipit ipsum delectus nemo aliquid magnam dicta omnis doloremque, fuga doloribus perferendis repudiandae nihil nesciunt. Illum, ipsum, expedita.</p>
    
    <fieldset>
        <legend>Vos infos</legend>
        <ul>
            
            <li>Nom : {{user.lastname}}</li>
            <li>Prénom : {{user.firstname}} </li>
            <li>Email : {{user.email}}</li>
            <li>Adresse : {{user.address}} <br>
            {{user.zipcode}} {{user.city}}</li>
            <li>N° Téléphone : {{user.phone}}</li>
        </ul>
        <a href="{{path('profil_edition', { id: user.id }) }}"><button value="modification">Modifier</button> </a> 
    </fieldset>
        
    <fieldset>
        <legend>Votre abonnement</legend>

        <ul>
            
            <li>Nom : {{user.lastname}}</li>
            <li>Prénom : {{user.firstname}} </li>
            <li>Email : {{user.email}}</li>
            <li>Adresse : {{user.address}} <br>
            {{user.zipcode}} {{user.city}}</li>
            <li>N° Téléphone : {{user.phone}}</li>
        </ul>
          
    </fieldset>
        


{% endblock %}
