
{% extends 'layout.html.twig' %}
{% set active = 'accueil' %}


{% block content %}
    
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" type="text/css">
    
    <section id="profil">
        
        <article id="welcome">
            <h2>Bienvenue {{ user_manager.username }}</h2>       
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Reprehenderit saepe autem, qui suscipit ipsum delectus nemo aliquid 
                magnam dicta omnis doloremque, fuga doloribus perferendis 
                repudiandae nihil nesciunt. Illum, ipsum, expedita.
                </p>
            </div>
        </article>
        
        <fieldset>
            <legend>Vos infos</legend>
            <ul>

                <li><b>Nom : </b>{{user.lastname}}</li>
                <li><b>Prénom :</b> {{user.firstname}} </li>
                <li><b>Email :</b> {{user.email}}</li>
                <li><b>Adresse :</b> {{user.address}} <br>
                {{user.zipcode}} {{user.city}}</li>
                <li><b>N° Téléphone :</b> {{user.phone}}</li>
            </ul>
            <a href="{{path('profil_edition', { id: user.id }) }}" class="submit">Modifier</a> 
        </fieldset>

        <fieldset>
            <legend>Votre abonnement</legend>
            <img src="{#{{profil.photo}}}#}">
            <ul>
                {% if profil == false %}
                    <p>Vous n'avez pas encore d'abonnement.</p>
                {% else %}

                    <li><b>Votre abonnement :</b> {{profil.description}}</li>           
                    <li><b>Prix de votre box :</b> {{profil.price}} €</li>
                    <li><b>Votre mode de livraison :</b> {{profil.mode}}</li>
                    <li><b>Frais de livraison :</b> {{profil.shipping_fees}} €</li>

                    <li><b>Montant prélevé le 10 de chaque mois :</b></li>
                    <li>Vous êtes abonné depuis le {{profil.start_date}}</li>

            </ul>
                    <a href="#" class="submit pop" value="{% if profil.soft_delete == '1' %}suspension{% elseif profil.soft_delete == '0' %}reprise{%endif%}"
                       >{% if profil.soft_delete == '1' %}Suspendre son abonnement{% elseif profil.soft_delete == '0' %}Reprendre son abonnement{%endif%}</a>
                            
                {% endif %}

            
            <a href="{{path('abonnement_edition', { id: user.id })}}" class="submit">Modifier</a> 
        </fieldset>
        

        <article id="modal">
            <span>Êtes-vous sûrs de vouloir suspendre votre abonnement ?</span> 
            
            <a href="{{ path('abonnement_changement', { id: user.id }) }}" class="submit">{% if profil.soft_delete == '1' %}Suspendre son abonnement{% elseif profil.soft_delete == '0' %}Reprendre son abonnement{%endif%}</a><a id="closeModal" class="cancel">Annuler</a>  
        </article>
    </section> 


{% endblock %}

 {% block javascripts %}
        
        {{ parent() }}

    <script> 
            $(document).ready(function(){ 

                // Ouvrir la modal
                $('.pop').click(function(){
                    $('#modal').fadeIn();
                });

                // Fermer la modal
                $('#closeModal').click(function(){
                    $('article').fadeOut();
                });


            });  

        
    </script>
    
      {% endblock %}
