{% extends "layout.html.twig" %}

{% block title 'Modifier son profil' %}

{% block content %}
    <style>
     #profil_edit{
        margin: 2rem auto;
        width: 25rem;
        text-align: center;
    }

    #profil_edit form{
        background-color: rgba(240, 240, 240, 0.86);
        padding: 1rem 1.5rem;
        border-radius: 1rem;
    }

    input[type=submit]:hover {
        background-color: #DA367F;
    }

    #profil_edit label{
        display:block;
        width: 100%;
        color: #DA367F;
    }

    #profil_edit textarea, #profil_edit input:not([type="submit"]) {
        display: block;
        width: 100%;
        vertical-align: top;
        text-align: center;
        color: #2F3635;
        background-color: #fff;
        border: solid .2rem #bbbbbb;
        font-family: overpass;
        font-size: 1.5rem;
        font-weight: normal;
        margin-bottom: 1.5rem;
        padding: 1rem 3rem 1rem 1.8rem;
        outline: none;
    }
   
    @media all and (min-width: 500px) and (max-width: 750px){
        #profil_edit{       
            width: 35rem;
        }
    }  
    
    @media all and (min-width: 750px){
        #profil_edit{       
            width: 45rem;
        }
        
        #profil_edit textarea,  #profil_edit input:not([type="submit"]) {
            display: inline-block;
        }
   
        #profil_edit article{
             display: inline-block;
             width: 45%;
        }

        #profil_edit article:first-child, #profil_edit article:nth-of-type(3){
             margin-right: 9%;
         }
    }  
    </style>
    
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}" type="text/css">
    <section id="profil">
        <article id="welcome">
            <h2>Bienvenue {{ user_manager.username }}</h2>       
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Reprehenderit saepe autem, qui suscipit ipsum delectus nemo aliquid 
                magnam dicta omnis doloremque, fuga doloribus perferendis 
                repudiandae nihil nesciunt. Illum, ipsum, expedita.</p>
            </div>
        </article>
    </section>
    
    <section id="profil_edit">
    <h2>Modification de votre profil</h2>

    <form method="post">
        <article>
            <label>Nom</label>
            <input type="text" name="lastname" value="{{ user.lastname }}">
        </article>
        <article>
            <label class="control-label">Prénom</label>
            <input type="text" name="firstname" value="{{ user.firstname }}">
        </article>
        
            <label class="control-label">Email</label>
            <input type="text" name="email" value="{{ user.email }}">
            
            <label class="control-label">Mot de passe</label>
            <input type="password" name="password" value="">            
            
            <label class="control-label">Adresse</label>
            <textarea name="address">{{ user.address }}</textarea>
        <article>    
            <label class="control-label">Code postal</label>
            <input type="text" name="zipcode" value="{{ user.zipcode }}">
        </article>
        <article>
            <label class="control-label">Ville</label>
            <input type="text" name="city" value="{{ user.city }}">
        </article>
            <label class="control-label">Téléphone</label>
            <input type="text" name="phone" value="{{ user.phone }}">

        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('profil') }}" class="btn btn-default">Annuler</a>
    </form>
    </section>
{% endblock %}

