{% extends "layout.html.twig" %}

{% block content %}

<link rel="stylesheet" href="{{ asset('css/ourproject2.css') }}" type="text/css"> 

<h2 class="ourprojecttitle">Notre projet</h2>

    <section id="mainourproject1"> 
        
        <section class="contenuourproject">

            <section class="sectionourprojectl">

                <p class="descriptionourproject">Les Fleurs d'Ici c'est la première marque de fleurs coupées qui permet de contribuer à la protection de la nature et des emplois en France.
Des fleurs locales et de saison, comme si vous veniez de les cueillir au jardin.</p>
            
            </section>

        </section>

    </section>
    



    {#Section notre projet#}
        <section id="mainproject2">

            <section class="sectionhome2">

                <h2>Notre projet</h2>
                <div class="traitprofile"></div>
                <p>Fleurs d'ici est la première marque de fleurs coupées qui permet de contribuer à la protection de la nature et des emplois en France.
                Des fleurs locales et de saison, comme si vous veniez de les cueillir au jardin.</p>

                <article>
                    <img src="{{ asset('img/photo1.png') }}" alt="logo">
                    <h3>Des fleurs authentiques</h3>
                    <p>Roses parfumées, iris, pivoines, lilas : des variétés sélectionnées dans un esprit jardin</p>
                </article>

                <article>
                    <img src="{{ asset('img/photo2.png') }}" alt="logo">
                    <h3>Des fleurs locales</h3>
                    <p>Des fleurs en circuit-court, produites artisanalement, qui préservent l’emploi et l’environnement</p>
                </article>

                <article>
                    <img src="{{ asset('img/photo3.png') }}" alt="logo">
                    <h3>Des fleurs fraîches</h3>
                    <p> Nos producteurs cueillent les plus belles fleurs de saison, à maturité, 24h avant d'être chez vous</p>
                </article>

                <p><a class="box" href="{{path('project')}}">En savoir plus sur notre projet</a></p>
            </section>
                
            </section>
        </section>


    {#<section id="mainourproject2"> 
        
        <section class="contenuourproject">
            
            <section id="sectionourproject2">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <article class="howproject">
                    <h4 id="titleprojet">Recevez les plus belles fleurs</h4>
                    <p>Toute l'année recevez les plus belles fleurs de saison de France et de Navarre.</p>
                </article>
            </section>

            <section id="sectionourproject3">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <article class="howproject">
                    <h4 id="titleprojet2">Circuit-Court</h4>
                    <p>Nous privilégions le circuit court car nous pensons que les productions françaises sont de qualitées et qu'elles valent le coup d'être diffusées.</p>
                </article>
            </section>

            <section id="sectionourproject4">
                <i class="fa fa-telegram" aria-hidden="true"></i>
                <article class="howproject">
                    <h4 id="titleprojet3">Une ou deux fois par mois</h4>
                    <p>Livrées à domicile ou à récupérer en point-relais. Choisissez votre fréquence adéquate et la livraison qui vous facilite la vie.</p>
                </article>
            </section>
    
        </section>#}





    <section id="mainourproject3"> 

        <section class="contenuourproject">

            <section class="sectionourprojectr">
            <h2 class="ourprojecttitle">Notre identité</h2>
                <p class="descriptionourproject">Le marché des fleurs coupées est une industrie mondialisée.

Aujourd’hui, 85% des fleurs vendues en France viennent de l’étranger, de Hollande bien sûr, mais de plus en plus, du Kenya, d’Équateur ou de Colombie.

En remettant la saisonnalité et la proximité au cœur de la dynamique de consommation, Fleurs d’Ici permet aux petits producteurs horticoles de vendre leurs fleurs au juste prix, en économisant sur le circuit de distribution, et aux consommateurs d’avoir des produits de meilleure qualité, tout en s’inscrivant dans une démarche de développement durable.</p>

                <img src="{{ asset('img/chiffrescles.svg') }}" alt="">
            </section>

        </section>

    </section>

{% endblock %}

{% block stylesheet %} 
 
    {{parent()}} 
 

 {% endblock %} 