{% extends "layout.html.twig" %}

{% block stylesheet %}

    {{parent()}}

    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/subscription.css') }}">

 {% endblock %}
{% block content %}

     <section id="mainproduit">

        <section id="contenuproduit">

                <section id="sectionproduit1">

                    <img src="{{ asset('img/product1.jpg')}}" alt="Photo du produit 1" name="image-swap" id="photoproduit">

                </section>

                <section id="sectionproduit2">

                    <article id="articleproduit2">
                        <h2 id="h2pageproduit">L'abonnement</h2>
                        <p class="descriptionoffre">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet diam ac dolor gravida, vulputate viverra erat vestibulum. Donec vel pellentesque est. Pellentesque sit amet sagittis augue. Sed nec vulputate ipsum.
                        </p>
                    </article>
                   
                    <form method="post" action="" id="formabonnement">

                        <article id="selectoffre">
                            <div class="modecheck">
                                <label for="abonnement">
                                    S'abonner pour soi
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                </label><br>
                                <input type="radio" id="abonnement" name="offre" value="abonnement" {%if productId is defined%}checked{%endif%}>
                            </div>
                            <div class="modecheck">
                                <label for="offrir">
                                    Offrir pour un proche
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                </label><br>
                                <input type="radio" id="offrir" name="offre" value="offrir">
                            </div>
                        </article>
                        
                        <article class="timeselect">
                            <select id="selectproduit1" name="duration" class="nice-select">
                                    <option value="null">-- Choisissez la durée d'abonnement --</option>
                                    <option value="1">Un mois</option>
                                    <option value="3">Trois mois</option>
                                    <option value="6">Six mois</option>
                            </select>
                        </article>
                            
                        <article id="produitselect">
                            
                            <select id="selectproduit2"  name="size" class="nice-select" >
                                    <option value="null">-- Choisissez la taille de votre bouquet --</option>
                                    <option value="moyen" {% if productId == '1' or productId == '2'%}selected{%endif%}>Moyen</option>
                                    <option value="gros" {% if productId == '3' or productId == '4'%}selected{%endif%}>Gros</option>                                        
                            </select>
                            
                            <select name="frequency" class="nice-select" >
                                    <option value="null">--Frequence--</option>
                                    <option value="once_a_month" {% if productId == '3' or productId == '1'%}selected{%endif %}>Une fois par mois</option>
                                    <option value="twice_a_month"{% if productId == '2' or productId == '4'%}selected{%endif %}>Deux fois par mois</option>
                            </select>
  
                        </article>

                        <article id="modeproduit">
                            <div class="modecheck">
                                <label for="radiomode1">A domicile
                                    <img src="{{ asset('img/adomicile.svg') }}">
                                    <i>(+5€)</i>
                                </label><br>
                                <input type="radio" id="radiomode1" name="mode" value="1">
                            </div>
                            <div class="modecheck">
                                <label for="radiomode2">Point relais
                                    <img src="{{ asset('img/pointrelais.svg')}}">
                                    <i>(gratuit)</i>
                                </label><br>
                                <input type="radio" id="radiomode2" name="mode" value="2">
                            </div>
                        </article>

                        <article id="submitproduit">
                            <input type="submit" value="Valider">
                        </article>
                    </form>


                </section>

        </section>

    </section>

     <section id="mappointrelais" style="display:none;">
        <article id="articlepointrelais1">
            <h2 id="h2plan">Nos Points Relais</h2>

            <iframe id="iframepointrelais" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.1276819303525!2d2.332156616027726!3d48.836703179285365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671c7785c4fdb%3A0xb118bc844f2f417a!2sLes+Grands+Voisins!5e0!3m2!1sfr!2sfr!4v1497950176022" allowfullscreen></iframe>
        </article>
    </section>

{% endblock %}

{% block javascripts %}

    {{parent()}}
    <script type="text/javascript" src="{{ asset("js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/scriptsubscription.js") }}"></script>


{% endblock %}