{% extends "layout.html.twig" %}

{% block stylesheet %}

    {{parent()}}

    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/subscription.css') }}">

 {% endblock %}
{% block content %}

     <section id="mainproduit">

        <section id="contenuproduit">

                <section id="sectionproduit1">

                    <img src="{{ asset('img/product1.jpg')}}" alt="Photo du produit 1" name="image-swap" id="photoproduit">

                </section>

                <section id="sectionproduit2">

                    <article id="articleproduit2">
                        <h2 id="h2pageproduit">La boutique</h2>
                        <p class="descriptionoffre">
                            Un jeudi sur deux entre 18h et 22h des fleurs locales et de saison livrées chez vous ou en point relais. 
                        </p>
                        <p class="descriptionoffre"> 
                            Dans Paris intramuros uniquement.
                        </p>
                        <p class="descriptionoffre"> 
                            Abonnement, événement, sur-mesure, pour toute demande spécifique <a href="{{path ('contact')}}#contact">contactez-nous !</a>
                        </p>
                    </article>
                   
                    <form method="post" action="" id="formabonnement">

                        {# Bouton radio entre ABONNEMENT et OFFRIR #}
                        <article>
                            <div class="modecheck" id="divabonnement">
                                <label for="abonnement">
                                    Pour moi
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                </label><br>
                                <input type="radio" id="abonnement" name="offre" value="abonnement" {%if productId is defined%}checked{%endif%}>
                            </div>
                            <div class="modecheck">
                                <label for="offrir">
                                    Pour offrir
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                </label><br>
                                <input type="radio" id="offrir" name="offre" value="offrir">
                            </div>
                        </article>
                        
                        
                        <article id="produitselect">
                            
                            {# Je m'abonne ou je teste #}
                            <aside class="showselect">
                                <select id="selecttry" name="decouverte" class="nice-select">
                                        <option value="abonnement" selected>Je m'abonne</option>
                                        <option value="decouverte">Je découvre (livraison unique)</option>
                                </select>
                            </aside>
                            
                            {# Je choisis la taille et la fréquence #}
                            <aside>
                                <select id="selectproduit2" name="size" class="nice-select" >                                    
                                        <option value="moyen" {% if productId == '1' or productId == '2'%}selected{%endif%}>Panier classique</option>
                                        <option value="gros" {% if productId == '3' or productId == '4'%}selected{%endif%}>Grand panier</option>                                        
                                </select>
                            </aside>
                            
                            
                            <aside>
                                <select id="frequency" name="frequency" class="nice-select" >
                                        <option value="une fois par mois" {% if productId == '3' or productId == '1'%}selected{%endif %}>Une fois par mois</option>
                                        <option value="deux fois par mois"{% if productId == '2' or productId == '4'%}selected{%endif %}>Deux fois par mois</option>
                                </select>
                            </aside>
                            
                            
                            {# OFFRIR = Choisir la durée d'abonnement #}
                            <aside class ="hideselect">
                                <select id="selectproduit3" name="duration" class="nice-select">
                                        <option value="1">Un mois</option>
                                        <option value="3">Trois mois</option>
                                        <option value="6">Six mois</option>
                                </select>
                            </aside>
                            
                            <aside style="display:none" id="selectpointsrelais">
                                <select name="pointsrelais" class="nice-select">
                                    {% for pointrelais in pointsrelais %}
                                        <option value="{{pointrelais.idpul}}">{{pointrelais.namepul}} - {{pointrelais.addresspul}} - {{pointrelais.zipcodepul}} {{pointrelais.citypul}}</option>
                                    {% endfor %}
                                </select>
                            </aside>
                        </article>
                        
                            
                        {# Mode de livraison #}
                        <article id="modeproduit">
                            <div class="modecheck">
                                <label for="radiomode1">A domicile
                                    <img src="{{ asset('img/adomicile.svg') }}">
                                    <i>(+5€)</i>
                                </label><br>
                                <input type="radio" id="radiomode1" name="mode" value="1">
                            </div>
                            <div class="modecheck">
                                <label for="radiomode2">Point relais
                                    <img src="{{ asset('img/pointrelais.svg')}}">
                                    <i>(gratuit)</i>
                                </label><br>
                                <input type="radio" id="radiomode2" name="mode" value="2">
                            </div>
                                    
                            
                        </article>  
                                    
                        
                        
                        <article id="submitproduit">
                            <span id="price"></span>
                            <input type="submit" value="Valider">
                        </article>
                    </form>

                    <div id=resultat"></div>
                </section>
       
        </section>

    </section>
    <section id="mappointrelais">
        <article id="articlepointrelais1">
            <h2 id="h2plan">Nos Points Relais</h2>
            {# Choisir le point relais de son choix #}
            
            
            <iframe id="iframepointrelais" src="https://www.google.fr/maps/d/embed?mid=1x6E2xkgj0VrOXHG5ywPoCkdhT-g" width="640" height="480"></iframe>
            {#<iframe id="iframepointrelais" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.1276819303525!2d2.332156616027726!3d48.836703179285365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671c7785c4fdb%3A0xb118bc844f2f417a!2sLes+Grands+Voisins!5e0!3m2!1sfr!2sfr!4v1497950176022" allowfullscreen></iframe>#}
           

        </article>
    </section>

{% endblock %}

{% block javascripts %}

    {{parent()}}
    <script type="text/javascript" src="{{ asset("js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/scriptsubscription.js") }}"></script>
    

{% endblock %}