{% extends "layout.html.twig" %}

{% block content %}

     <section id="mainproduit">

        <section id="contenuproduit">

                <section id="sectionproduit1">

                    <img src="../img/product1.jpg" name="image-swap" id="photoproduit">

                </section>

                <section id="sectionproduit2">

                    <article id="articleproduit2">
                        <h2 id="h2pageproduit">L'abonnement</h2>
                        <p class="descriptionoffre">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet diam ac dolor gravida, vulputate viverra erat vestibulum. Donec vel pellentesque est. Pellentesque sit amet sagittis augue. Sed nec vulputate ipsum.
                        </p>
                    </article>

                    <article id="articleproduit3">
                        <form method="post" action="" id="formabonnement">
                            <article id="produitselect">

                                <select id="selectproduit1" name="frequency" class="nice-select" >
                                        <option value="null">--Frequence--</option>
                                        <option value="once_a_month" {% if user_manager== 'once a month' or productId == '3'%}checked{%endif %}>Une fois par mois</option>
                                        <option value="twice_a_month"{% if productId == '2' or productId == '4'%}checked{%endif %}>Deux fois par mois</option>
                                </select>


                                <select id="selectproduit2" name="size" class="nice-select" >
                                        <option value="null">-- Choisissez la taille de votre bouquet --</option>
                                        <option value="moyen">Moyen</option>
                                        <option value="gros">Gros</option>                                        
                                </select>
                            </article>

                            <article id="modeproduit">
                                <div class="modecheck">
                                    <label for="radiomode1">A domicile
                                        <img src="../img/adomicile.svg">
                                    </label><br>
                                    <input type="radio" id="radiomode1" name="mode" value="1">
                                </div>
                                <div class="modecheck">
                                    <label for="radiomode2">Point relais
                                        <img src="../img/pointrelais.svg"></label><br>
                                    <input type="radio" id="radiomode2" name="mode" value="2">
                                </div>
                            </article>

                            <article id="submitproduit">
                                <input type="submit" value="Valider">
                            </article>
                        </form>
                    </article>

                </section>

        </section>

    </section>

     <section id="mappointrelais" style="display:none;">
        <article id="articlepointrelais1">
            <h2 id="h2plan">Nos Points Relais</h2>

            <iframe id="iframepointrelais" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.1276819303525!2d2.332156616027726!3d48.836703179285365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671c7785c4fdb%3A0xb118bc844f2f417a!2sLes+Grands+Voisins!5e0!3m2!1sfr!2sfr!4v1497950176022" allowfullscreen></iframe>
        </article>
    </section>

{% endblock %}

{% block stylesheet %}

    {{parent()}}

    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/subscription.css') }}">

 {% endblock %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset("js/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/scriptsubscription.js") }}"></script>


{% endblock %}