{% extends "layout.html.twig" %}

{% block title 'Admin products' %}

{% block content %}

<h2>Modifications des produits</h2>

    <form method="post">

        <label>Nom du produit</label>
        <input type="text" name="product_name" value="{{ product.productname }}" class="form-control">

        <label class="control-label">Description</label>
        <input type="text" name="description" value="{{ product.description }}" class="form-control">

        <label class="control-label">Photo</label>
        <input type="file" name="photo" value="{{ product.photo }}" class="form-control">

        <label class="control-label">Prix</label>
        <input type="text" name="price" class="form-control" value="{{ product.price }}"></input>

        <label class="control-label">Fréquence</label>
        <select name="frequency" id="frequency">
            
            <option value="once a month" 
                {% if product.frequency == 'once a month' %}selected{% endif %}>
                Une fois par mois
            </option>
            <option value="twice a month" 
                {% if product.frequency == 'twice a month' %}selected{% endif %}>
                Deux fois par mois
            </option>
        </select>
 
        <label class="control-label">Taille</label>
        <select name="size" id="size">
            
            <option value="moyen" 
                {% if product.size == 'moyen' %}selected{% endif %}>
                Moyen
            </option>
            <option value="gros" 
                {% if product.size == 'gros' %}selected{% endif %}>
                Gros
            </option>
            
        </select>

        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('admin_products') }}" class="btn btn-default">Annuler</a>
    </form>

{% endblock %}
