
{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="well">
{{ form_start(articleForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(product.product_name, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(product.product_name) }}
            {{ form_widget(product.product_name, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(product.description, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(product.description) }}
            {{ form_widget(product.description, { 'attr':  {
                'class': 'form-control',
                'rows': '8'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>
{{ form_end(product) }}
</div>
{% endblock %}

{#{% extends "layout.html.twig" %}

{% block title 'Admin products' %}

{% block content %}

<h2>Modifications des produits</h2>

    <form method="post">

            <label>Nom du produit</label>
            <input type="text" name="product_name" value="{{ product.product_name }}" class="form-control">

            <label class="control-label">Description</label>
            <input type="text" name="firstname" value="{{ product.description }}" class="form-control">

            <label class="control-label">Photo</label>
            <input type="file" name="photo" value="{{ product.photo }}" class="form-control">

            <label class="control-label">Prix</label>
            <input type="text" name="price" class="form-control">{{ product.price }}</input>

            <label class="control-label">Fréquence</label>
            <input type="text" name="frequency" value="{{ product.frequency }}" class="form-control">

            <label class="control-label">Ville</label>
            <input type="text" name="size" value="{{ product.size }}" class="form-control">

        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('admin_products') }}" class="btn btn-default">Annuler</a>
    </form>

{% endblock %}
#}
