
{% extends "layout.html.twig" %}

{% block title 'Admin articles' %}
    
{% block stylesheet %}

    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin_list.css')}}">

{% endblock %}

{% block content %}

      <section class="admin">
        <h2>Ajouter un article</h2>

        <form method="post">

            <label>Titre</label>
            <input type="text" name="title" value="">

            <label>Contenu 1</label>
            <textarea = "" name="content1" value=""></textarea>
            
            <label>Contenu 2</label>
            <textarea = "" name="content2" value=""></textarea>

            <label>Citation</label>
            <textarea = "" name="quote" value=""></textarea>

            <label>Résumé</label>
            <textarea  class="editor" rows="10" cols="80" name="short_content" value=""></textarea>

            <label>Photo</label>
            <input type="file" name="picture" value="">

            {# select categorie #}
            <select id="id_category" name="id_category">
                <option value="null">--Catégorie--</option>

                <option value="conseilpratique">Conseil pratique</option>

                <option value="lexiquedefleurs">Lexique de fleurs</option>

                <option value="article">Article</option>
            </select>

             <button type="submit" class="btn btn-primary">Enregistrer l'article</button>
            <a href="{{ path('admin_articles') }}" class="btn btn-default">Annuler</a>
        </form>
    </section>



{% block javascripts %}

        {{ parent() }}

            <script src="{{asset('\ckeditor/ckeditor.js')}}"> </script>

             <script>
                CKEDITOR.replace( 'content1' );
                CKEDITOR.replace( 'content2' );
                CKEDITOR.replace( 'quote' );
                CKEDITOR.replace( 'short_content' );
            </script>

{% endblock %}



{% endblock %}

