{% extends "layout.html.twig" %}

{% block title 'Admin articles' %}

{% block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin_list.css')}}">
{% endblock %}

{% block content %}

    <section class="admin">
        <h2>Modifier un article</h2>

        <form method="post">

            <label>Titre</label>
            <input type="text" name="title" value="{{ article.title }}">

            <label>Résumé</label>
            <textarea name="short_content">{{ article.shortcontent }}</textarea>
            
            <label>Contenu 1</label>
            <textarea name="content1">{{ article.content1 }}</textarea>

            <label>Contenu 2</label>
            <textarea name="content2">{{ article.content2 }}</textarea>

            <label>Citation</label>
            <textarea name="quote">{{ article.quote }}</textarea>

            <label>Photo</label>
            <input type="file" name="picture" value="{{ article.picture }}">
            
            <label>Catégorie</label>
            <select id="id_category" name="id_category">
                <option value="null">--Catégorie--</option>
                {% for category in categories %}
                    <option value="{{category.idcategory}}" {%if category.idcategory == article.idcategory%}selected{%endif%}>{{category.categoryname}}</option>
                {% endfor %}
            </select>

             <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>
            <a href="{{ path('admin_articles') }}" class="btn btn-default">Annuler</a>
        </form>
    </section>



{% block javascripts %}

        {{ parent() }}

            <script src="{{asset('\ckeditor/ckeditor.js')}}"> </script>

             <script>
                CKEDITOR.replace( 'content1' );
                CKEDITOR.replace( 'content2' );
                CKEDITOR.replace( 'quote' );
                CKEDITOR.replace( 'short_content' );
            </script>

{% endblock %}




{% endblock %}