{% extends "layout.html.twig" %}

{% block title 'Admin articles' %}

{% block stylesheet %}
{{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin_list.css')}}">
{% endblock %}

{% block content %}

        
    <section class="admin">
        <nav>
            <ul>
                <li><a href="{{path('admin_categories')}}">Catégories</a></li>
                <li><a href="{{path('admin_articles')}}">Articles</a></li>
            </ul>
        </nav>
        
        <h2>Les articles</h2>
        
        
        <p><a href="{{ path('admin_article_ajout') }}">Ajouter un article</a></p>

        
        <table>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Résumé</th>
                <th>Contenu 1</th>
                <th>Contenu 2</th>
                <th>quote</th>
                <th>Photo</th>
                <th>Rubrique</th>
                <th width="200px">Actions</th>
            </tr>

            {% for article in articles %}
            <tr>

                <td>{{article.id_article}}</td>
                <td>{{article.title}}</td>
                <td>{{article.short_content}}</td>
                <td>{{article.content1}}</td>
                <td>{{article.content2}}</td>
                <td>{{article.quote}}</td>
                <td>{{article.picture}}</td>
                <td>{{article.category_name}}</td>  
               

                <td>
                    <a href="{{ path('admin_article_edit', { id: article.id_article }) }}" >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>

                    <a href="#" class="pop" data-id="{{ article.id_article }}">
                           <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            
            {# Modal pour la suppression d'un article #}
            <aside id="modal{{ article.id_article }}" class="modal">  
                <span>Êtes-vous sûres de vouloir supprimer cet article ? {{ article.id_article }} ? </span>  
                <a href="{{ path('admin_article_delete', { id: article.id_article }) }}" class="btn remove">Supprimer définitivement de l'article</a>  
                <a class="btn cancel closeModal">Annuler</a>  
            </aside>

            {% endfor %}
        </table>
    </section>
{% endblock %}
    
{#JS pour la modal #}
{% block javascripts %}      
    {{ parent() }}
    <script src="{{asset('js/modal.js')}}"> </script>  
{% endblock %}



