{% extends "layout.html.twig" %}

{% block title 'Admin pickuplocation' %}

{% block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin_list.css')}}">
{% endblock %}

{% block content %}

   </style>
   
   <section class="admin">
       
        <h2>Modification d'un point relais</h2>

        <form method="post">

            <label>Nom du point relais</label>
            <input type="text" name="name_pul" value="{{pickuplocation.namepul}}">

            <label>Adresse</label>
            <input type="text" name="address_pul" value="{{pickuplocation.addresspul}}">
            <article>
                <label>Code Postal</label>
                <input type="text" name="zipcode_pul" value="{{pickuplocation.zipcodepul}}">
            </article>
            
            <article>
                <label>Ville</label>
                <input type="text" name="city_pul" value="{{pickuplocation.citypul}}"></input>
            </article>
            
            <label>N°Téléphone</label>
            <input type="text" name="phone_pul" value="{{pickuplocation.phonepul}}"></input>

            <label>Heures d'ouverture</label>
            <textarea name="hours">{{pickuplocation.hours}}</textarea>
            
            <label>Localisation Google Maps</label>
            <input type="text" name="googlemapslocation" value="{{pickuplocation.googlemapslocation}}"></input>
            
            <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>
            
            <a href="{{ path('admin_pickuplocation') }}" class="btn btn-default">Annuler</a>
        </form>
    </section>
{% endblock %}

