{% extends "layout.html.twig" %}

{% block title %}Points Relais{% endblock %}

{% block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/admin_list.css')}}">
{% endblock %}

{% block content %}
    
    <section class="admin">
        <h2>Liste des points relais</h2>
        <a href="{{ path('admin_pickuplocation_ajout') }}" class="add-button">Ajouter un point relais</a>

        <table>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>N° Téléphone</th>
                <th>Heures ouverture</th>
                <th>Localisation Google Maps</th>
                <th width="200px">Actions</th>
            </tr>
            {% for pickuplocation in pickuplocations %}
                <tr>
                    <td>{{ pickuplocation.idpul }}</td>
                    <td>{{ pickuplocation.namepul }}</td>
                    <td>{{ pickuplocation.addresspul }}</td>
                    <td>{{ pickuplocation.zipcodepul }}</td>
                    <td>{{ pickuplocation.citypul }}</td>
                    <td>{{ pickuplocation.phonepul }}</td>
                    <td>{{ pickuplocation.hours }}</td>
                    <td>{{ pickuplocation.googlemapslocation }}</td>

                    <td>
                        <a href="{{ path('admin_pickuplocation_edit', { id: pickuplocation.idpul }) }}" >
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>

                        <a href="#" class="pop" data-id="{{ pickuplocation.idpul }}">
                           <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                
                <!-- Aside pour la modale de validation de suppression -->
                <aside id="modal{{ pickuplocation.idpul }}" class="modal">  
                    <span>Êtes-vous sûres de vouloir supprimer le point relais {{ pickuplocation.idpul }} ? </span>  
                    <a href="{{ path('admin_user_delete', { id: pickuplocation.idpul }) }}" class="btn remove">Supprimer définitivement</a>  
                    <a class="btn cancel closeModal">Annuler</a>  
                </aside> 
          
            {% endfor %}
        </table>
    </section>
{% endblock %}

{% block javascripts %}      
    {{ parent() }}
    <script src="{{asset('js/modal.js')}}"> </script>  
{% endblock %}
